/* GENERAL */
:root {
  background-color: whitesmoke;
}

body {
  margin: 0px;
}

main {
  padding: 1em;
}

h1 {
  color: forestgreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAV */
nav {
  background-color: forestgreen;
  display: flex;
  justify-content: center;
  padding: 1em;
}

nav a {
  color: white;
  font-size: 2em;
  text-decoration: none;
  font-family:monospace;
  font-weight: bold;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: darkgreen;
  border-radius: 1em;
}


/* TABLES */
.list-of-tables {
  list-style-type: none;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-of-tables li {
  border: forestgreen 0.2em solid;
  border-radius: 0.25em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.list-of-tables p {
  font-weight: bold;
  margin: 0px;
  padding: 0.5em;
}

.list-of-tables table {
  width: 100%;
  padding: 0.5em;
  border: solid forestgreen 0.1em;
  border-radius: 0.25em;
}

.list-of-tables th {
  padding: 0%;
}